ul li.thumb img {
    max-width: 150px;
    max-height: 150px;
}

ul li.thumb figure {
    display: table;
    width: 150px;
    height: 150px;
    padding: 0px 0px 10px 0px;
    margin: 0;
}

ul li.thumb {
    text-align: center;
    list-style: none;
    float: left;
    width: 150px;
    min-height: 190px;
    height: 190px;
    margin: 10px;
    padding: 6px 8px 50px;
    border: 1px solid #ccc;
}

ul li.thumb figure figcaption {
  display: table-caption;
  caption-side: bottom;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li {
    text-align: center;
    float: left;
    margin: 10px;
    padding: 6px 8px 50px;
}

.photo img {
  max-width: 100%;
  max-height: 90vh;
  display: block;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: Century Gothic, sans-serif;
  color: #333;
  font-weight: 300;
  clear: both;
}

h2 {
  color: #555;
}

a {
  color: #666;
  text-decoration: none;
}
